<section class="ui divided items" data-ng-controller="AdsController" data-ng-init="find()">
  <div class="item" data-ng-repeat="ad in ads">
    <div class="image">
      <img src="asset/images/image.png">
    </div>
    <div class="content">
      <a class="header" data-ng-href="#!/ads/{{ad.id}}" data-ng-bind="ad.title"></a>
      <div class="meta">
        <span class="cinema">IFC Cinema</span>
      </div>
      <div class="description">
        <p></p>
      </div>
      <div class="extra">
        <div class="ui right floated primary button">
          Buy tickets
          <i class="right chevron icon"></i>
        </div>
        <div class="ui label">Limited</div>
      </div>
    </div>
  </div>

  <div data-ng-hide="!ads || ads.length">
      No ads yet.Do you wana <a href="/#!/ads/create">create</a> one?
  </div>
</section>
