<section data-ng-controller="AccountController" data-ng-init="authenticate('secure')">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-4 col-md-2">
                    <a href="#" class="thumbnail">
                        <img src="asset/images/profile.jpg" alt="profile">
                    </a>
                </div>
                <div class="col-xs-8 col-md-10">
                    <h3>Mehrdad Mohammadi</h3>
                    <h4>m.mohamadi313@gmail.com</h4>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="exampleInputUniqueId">Uniqueid</label>
                    <input type="text" class="form-control" id="exampleInputUniqueId1" placeholder="Uniqueid">
                </div>
                <div class="form-group">
                    <label for="exampleInputFile">Upload Profile Image</label>
                    <input type="file" id="exampleInputFile">
                    <p class="help-block">Example block-level help text here.</p>
                </div>

                <button type="submit" class="btn btn-default">Save Changes</button>
            </form>
        </div>
    </div>
</section>
