<section data-ng-controller="AccountController" data-ng-init="authenticate('secure')">
    <button ng-click="logout()">
        Log Out
    </button>

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-4 col-md-2">
                    <a href="#" class="thumbnail">
                        <img src="asset/images/user.png" alt="profile">
                    </a>
                </div>
                <div class="col-xs-8 col-md-10">
                    <h3>Hi {{user.name}}</h3>
                    <h4>{{user.uniqueid}}</h4>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <h2>Username</h2>
            <input ng-model="user.uniqueid" type="email" required="cant be null" ng-required="true" ng-minlength="7" ng-trim="true"/>
        </div>
        <div class="panel-body">
            <h2>Password</h2>
            <input ng-model="user.password" type="password" required="cant be null" ng-required="true" ng-minlength="7" ng-trim="true"/>
        </div>
    </div>
</section>
