<section data-ng-controller="AccountController" data-ng-init="authenticate('secure')">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-4 col-md-2">
                    <a href="#" class="thumbnail">
                        <img src="asset/images/profile.jpg" alt="profile">
                    </a>
                </div>
                <div class="col-xs-8 col-md-10">
                    <h3>Mehrdad Mohammadi</h3>
                    <h4>m.mohamadi313@gmail.com</h4>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <h2>Username</h2>
            <h3>@mehdad</h3>
        </div>
    </div>
</section>
