<section data-ng-controller="AccountController">
	<h1>Login Account</h1>
		<form class="col-md-12" data-ng-submit="login()" novalidate>
			<div class="form-group">
				<input type="text" class="form-control input-lg" data-ng-model="name" placeholder="Email">
			</div>
			<div class="form-group">
				<input type="password" class="form-control input-lg" data-ng-model="uniqueid" placeholder="Password">
			</div>
			<div class="form-group">
				<button class="btn btn-primary btn-lg btn-block">Sign In</button>
				<span><a href="#">Need help?</a></span>
				<span class="pull-right"><a href="#/account/create">New Registration</a></span>
			</div>
			<div data-ng-show="error">
				<strong data-ng-bind="error"></strong>
			</div>
		</form>
</section>
