<form class="create-ad" data-ng-controller="AdsController" >
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-4 col-md-2">
                    <a href="#" class="thumbnail" data-toggle="modal" data-target="#myModal">
                        <img src="asset/images/house2.jpg" alt="profile">
                    </a>
                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Uploading Image</h4>
                          </div>
                          <div class="modal-body">
                              <div class="form-group">
                                  <label for="adImage">Upload Ad'<s></s> Image</label>
                                  <input type="file" id="adImage">
                                  <p class="help-block">Example block-level help text here.</p>
                              </div>

                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Import Image</button>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-xs-8 col-md-10">
                    <h3>
                        <div class="form-group">
                            <input type="text" class="form-control" id="Title" placeholder="Title">
                        </div>
                    </h3>
                    <h4>m.mohamadi313@gmail.com</h4>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <select class="form-control type" id="type" ng-model="data.Type" ng-init="data.Type='1'">
                  <option value="1">Sell</option>
                  <option value="2">Rent</option>
                  <option value="3">Mortgage</option>
                </select>
            </div>
            <div class="form-group">
                <div ng-switch="data.Type">
                    <div ng-switch-when="1">
                        <input type="text" id="price" class="form-control" placeholder="Price">
                    </div>
                    <div ng-switch-when="2">
                        <input type="text" id="rent-p" class="form-control" placeholder="Rent-p">
                        <input type="text" id="rent-m" class="form-control" placeholder="Rent-m">
                    </div>
                    <div ng-switch-when="3">
                        <input type="text" id="mortgage" class="form-control" placeholder="Mortgage">
                    </div>
                </div>
            </div>
                <div class="form-group">
                    <label for="bedno">Rooms</label>
                    <select class="form-control" id="bedno">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">More Than 5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="Address">Address</label>
                    <select class="form-control" id="Address">
                      <option>origin 1</option>
                      <option>origin 2</option>
                      <option>origin 3</option>
                      <option>origin 4</option>
                      <option>origin 5</option>
                    </select>
                </div>

                <label for="description">Additional Information</label>
                <textarea class="form-control" id="description" rows="3"></textarea>

                <button type="submit" class="btn btn-default">Send For Validation</button>

        </div>
    </div>
</form>
