<section class="ui divided items rails" data-ng-controller="AdsController" data-ng-init="find()">
<div class="container-fluid" data-ng-repeat="ad in ads">
    <div class="panel panel-default list-item">
        <div class="panel-body">
            <a data-ng-href="#/ads/{{ad.id}}" class="thumbnail">
              <img src="asset/images/image.png" alt="house1">
            </a>
            <h4 class="title"><a data-ng-href="#/ads/{{ad.id}}" data-ng-bind="ad.title"></a></h4>
            <h5 class="description">New House Description</h5>
        </div>
        <div class="panel-footer">
            <h4>
                <span class="label label-primary">Sale</span>
                <span class="label label-success">Mortgage</span>
                <span class="label label-info">Rent</span>
            </h4>
        </div>
    </div>

    <div data-ng-hide="!ads || ads.length">
        No ads yet.Do you wana <a href="/#!/ads/create">create</a> one?
    </div>
</div>
</section>
