<section class="ui divided items rails" data-ng-controller="AdsController" data-ng-init="find()">
    <nav class="navbar navbar-default navbar-fixed-top header">
        <div class="container-fluid row">
            <div class="navbar-left">
                <a class="navbar-brand" href="#">Realestate</a>
            </div>
            <form class="col-lg-8 col-md-7 col-sm-6 col-xs-7" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">find!</button>
                    </span>
                </div>
            </form>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle pull-right" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Filter <span class="caret"></span></a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

<div class="container-fluid" data-ng-repeat="ad in ads">
    <div class="panel panel-default list-item">
        <div class="panel-body">
            <a data-ng-href="#/ads/{{ad.id}}" class="thumbnail">
              <img src="asset/images/image.png" alt="house1">
            </a>
            <h4 class="title"><a data-ng-href="#/ads/{{ad.id}}" data-ng-bind="ad.title"></a></h4>
            <h5 class="description">New House Description</h5>
        </div>
        <div class="panel-footer">
            <h4>
                <span class="label label-primary">Sale</span>
                <span class="label label-success">Mortgage</span>
                <span class="label label-info">Rent</span>
            </h4>
        </div>
    </div>

    <div data-ng-hide="!ads || ads.length">
        No ads yet.Do you wana <a href="/#!/ads/create">create</a> one?
    </div>
</div>
</section>
